<div class="row">
	<div class="col col--3-of-3 col--centered">
		<ul class="accordion">
			<li>
				<a href="#json" class="accordion-header">JSON</a>
				<div class="accordion-content" id="json">{% include 'include/json.twig' %}</div>
			</li>

			<li>
				<a href="#canvas" class="accordion-header">Canvas</a>
				<div class="accordion-content" id="canvas">{% include 'include/canvas.twig' %}</div>
			</li>

			<li>
				<a href="#css-units" class="accordion-header">CSS Units</a>
				<div class="accordion-content" id="css-units">{% include 'include/css_units.twig' %}</div>
			</li>

			<li>
				<a href="#forms" class="accordion-header">Bootstrap Forms</a>
				<div class="accordion-content" id="forms">{% include 'include/forms.twig' %}</div>
			</li>

			<li>
				<a href="#download" class="accordion-header">Downloads</a>
				<div class="accordion-content" id="download">{% include 'include/download.twig' %}</div>
			</li>
		</ul>
	</div>
</div>