<div class="row">
	<h2 class="col col--12-of-12 col--centered title__sub">Download Files</h2>
	<div class="col col--1-of-12 col--push-5-of-12">
		<div class="download">
			<a href="../assets/download/homework.docx" download><img src="../assets/icons/doc.svg" alt="Doc.svg" class="download__image" title="Doc document"></a>
		</div>
	</div>
	<div class="col col--1-of-12">
		<div class="download">
			<a href="../assets/download/homework.zip" download><img src="../assets/icons/file.svg" alt="File.svg" class="download__image" title="Source Code"></a>
		</div>
	</div>
</div>