<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PHP Course</title>
		<link rel="icon" href="../assets/icons/php.ico">
		<link rel="stylesheet" href="../assets/css/style.css">
	</head>
	<body>
		<div class="container">
			{% include 'include/header.twig' %} <!--Ukljucivanje header fajla-->
			{% include 'include/accordion.twig' %} <!--Ukljucivanje glavnog menija stranice-->
			{% include 'include/contact.twig' %} <!--Ukljucivanje contacta stranice-->
		</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="../assets/js/main.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>